// Colors
$white: #ffffff;
$black: #000000;
$gray-300: #c5c6ce;
$gray-200: #d8d8d8;
$navy-950: #00001a;
$navy-600: #5e607a;
$gold-400: #e9aa52;
$red-500: #f15d51;

// Spacing
$spacing-100: .5rem;
$spacing-300: 1.5rem;
$spacing-400: 2rem;
$spacing-500: 2.5rem;
$spacing-800: 4rem;
$spacing-1100: 5.5rem;